<!DOCTYPE html>
<html class="no-js" lang="zxx">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>MediGrids</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="shortcut icon" type="image/x-icon" href="~/Template/images/favicon.svg" />
    <!-- Place favicon.ico in the root directory -->
    <!-- Web Font -->
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap"
          rel="stylesheet">


    <!-- ========================= CSS here ========================= -->

    <link rel="stylesheet" href="~/Template/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/Template/css/LineIcons.2.0.css" />
    <link rel="stylesheet" href="~/Template/css/animate.css" />
    <link rel="stylesheet" href="~/Template/css/tiny-slider.css" />
    <link rel="stylesheet" href="~/Template/css/glightbox.min.css" />
    <link rel="stylesheet" href="~/Template/css/main.css" />

</head>

<body>

    <!-- Preloader -->
    <div class="preloader">
        <div class="preloader-inner">
            <div class="preloader-icon">
                <span></span>
                <span></span>
            </div>
        </div>
    </div>
    <!-- /End Preloader -->
    <!-- Start Header Area -->
    <header class="header navbar-area">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-12">
                    <div class="nav-inner">
                        <!-- Start Navbar -->
                        <nav class="navbar navbar-expand-lg">
                            <a class="navbar-brand" href="~/Home/Index">
                                <img src="~/Template/images/logo/logo.svg" alt="Logo">
                            </a>

                            <button class="navbar-toggler mobile-menu-btn" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                                    aria-expanded="false" aria-label="Toggle navigation">
                                <span class="toggler-icon"></span>
                                <span class="toggler-icon"></span>
                                <span class="toggler-icon"></span>
                            </button>

                            <div class="collapse navbar-collapse sub-menu-bar" id="navbarSupportedContent">
                                <ul id="nav" class="navbar-nav ms-auto">
                                    <li class="nav-item">
                                        <a class="page-scroll active dd-menu collapsed" href="javascript:void(0)"
                                           data-bs-toggle="collapse" data-bs-target="#submenu-1-1"
                                           aria-controls="navbarSupportedContent" aria-expanded="false"
                                           aria-label="Toggle navigation">Inicio</a>
                                        <ul class="sub-menu collapse" id="submenu-1-1">
                                            <li class="nav-item active">
                                                <a href="@Url.Action("Index", "Home")">Inicio</a>
                                            </li>
                                        </ul>
                                    </li>

                                    <li class="nav-item">
                                        <a class="page-scroll dd-menu collapsed" href="javascript:void(0)"
                                           data-bs-toggle="collapse" data-bs-target="#submenu-1-2"
                                           aria-controls="navbarSupportedContent" aria-expanded="false"
                                           aria-label="Toggle navigation">Páginas</a>
                                        <ul class="sub-menu collapse" id="submenu-1-2">
                                            <li class="nav-item"><a href="~/Home/Login">Iniciar sesión</a></li>
                                            <li class="nav-item"><a href="~/Home/Register">Registro</a></li>
                                        </ul>
                                    </li>

                                    <li class="nav-item">
                                        <a href="javascript:void(0)" aria-label="Toggle navigation">Servicios</a>
                                    </li>

                                    <li class="nav-item">
                                        <a href="javascript:void(0)" aria-label="Toggle navigation">Terapeutas</a>
                                    </li>

                                    <li class="nav-item">
                                        <a href="javascript:void(0)" aria-label="Toggle navigation">Blog</a>
                                    </li>

                                    <li class="nav-item">
                                        <a href="javascript:void(0)" aria-label="Toggle navigation">Contacto</a>
                                    </li>
                                </ul>
                            </div> <!-- navbar collapse -->

                            <div class="button add-list-button">
                                <a href="javascript:void(0)" class="btn">Agendar cita</a>
                            </div>
                        </nav>
                        <!-- End Navbar -->
                    </div>
                </div>
            </div> <!-- row -->
        </div> <!-- container -->
    </header>
    <!-- End Header Area -->

    <div>
        @RenderBody()
    </div>

    <!-- Start Footer Area -->
    <footer class="footer overlay">
        <!-- Start Footer Top -->
        @*<div class="footer-top">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-12">
                        <div class="cta">
                            <h3>Need Help?</h3>
                            <p>
                                Please feel free to contact our friendly reception staff with any medical enquiry, or
                                call <a href="javascript:void(0)">+880 12345678901</a>
                            </p>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-12">
                        <div class="form">
                            <h3>Subscribe Newsletter</h3>
                            <form action="#" method="get" target="_blank" class="newsletter-form">
                                <input name="EMAIL" placeholder="Your email address" type="email">
                                <div class="button">
                                    <button class="btn">Subscribe<span class="dir-part"></span></button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>*@
        <!-- End Footer Top -->
        <!-- Start Footer Middle -->
        <div class="footer-middle">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-md-6 col-12">
                        <div class="single-footer f-about">
                            <div class="logo">
                                <a href="@Url.Action("Index","Home")">
                                    <img src="~/Template/images/logo/white-logo.svg" alt="#">
                                </a>
                            </div>
                            <p>There’s nothing in this story to make us think he was dreaming about riches.</p>
                            <ul class="social">
                                <li><a href="javascript:void(0)"><i class="lni lni-facebook-filled"></i></a></li>
                                <li><a href="javascript:void(0)"><i class="lni lni-twitter-original"></i></a></li>
                                <li><a href="javascript:void(0)"><i class="lni lni-instagram"></i></a></li>
                                <li><a href="javascript:void(0)"><i class="lni lni-linkedin-original"></i></a></li>
                                <li><a href="javascript:void(0)"><i class="lni lni-youtube"></i></a></li>
                            </ul>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-6 col-12">
                        <div class="single-footer f-link">
                            <h3>Enlaces útiles                            </h3>
                            <div class="row">
                                <div class="col-lg-6 col-md-6 col-12">
                                    <ul>
                                        <li><a href="javascript:void(0)">Más informacin</a></li>
                                        <li><a href="javascript:void(0)">Nuestro Equipo</a></li>
                                        <li><a href="javascript:void(0)">Terapias Disponibles</a></li>
                                        <li><a href="javascript:void(0)">Horarios</a></li>
                                        <li><a href="javascript:void(0)">Especialidades</a></li>
                                    </ul>
                                </div>
                                <div class="col-lg-6 col-md-6 col-12">
                                    <ul>
                                        <li><a href="javascript:void(0)">Citas</a></li>
                                        <li><a href="javascript:void(0)">Galleria</a></li>
                                        <li><a href="javascript:void(0)">Sobre Nosotros</a></li>
                                        <li><a href="javascript:void(0)">Doctores</a></li>
                                        <li><a href="javascript:void(0)">Contactanos</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-6 col-12">
                        <div class="single-footer opening-hours">
                            <h3>Horarios de Atención</h3>
                            <ul>
                                <li>
                                    <span class="day"><i class="lni lni-timer"></i> Lun - Mar</span>
                                    <span class="time">08:30 - 18:30</span>
                                </li>
                                <li>
                                    <span class="day"><i class="lni lni-timer"></i> Mié - Jue</span>
                                    <span class="time">08:30 - 18:30</span>
                                </li>
                                <li>
                                    <span class="day"><i class="lni lni-timer"></i> Viernes</span>
                                    <span class="time">08:30 - 18:30</span>
                                </li>
                                <li>
                                    <span class="day"><i class="lni lni-timer"></i> Sábado</span>
                                    <span class="time">08:30 - 18:30</span>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-6 col-12">
                        <div class="single-footer last f-contact">
                            <h3>Contacto</h3>
                            <ul>
                                <li>
                                    <i class="lni lni-map-marker"></i> 23 New Design Str, Lorem Upsum 10 Hudson Yards,
                                    USA
                                </li>
                                <li><i class="lni lni-phone"></i> Tel. +(123) 1800-567-8990 </li>
                                <li><i class="lni lni-envelope"></i> Mail. support@classigrids.com</li>
                            </ul>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <!--/ End Footer Middle -->

        <div class="footer-bottom">
            <div class="container">
                <div class="inner">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-12">
                            <div class="content">
                                <p class="copyright-text">
                                    Diseñado y Desarrollado por <a href="https://graygrids.com/"
                                                                 rel="nofollow" target="_blank">GrayGrids</a>
                                </p>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-12">
                            <ul class="extra-link">
                                <li><a href="javascript:void(0)">Términos y Condiciones</a></li>
                                <li><a href="javascript:void(0)">Preguntas Frecuentes</a></li>
                                <li><a href="javascript:void(0)">Política de Privacidad</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <a href="#" class="scroll-top">
        <i class="lni lni-chevron-up"></i>
    </a>

    <!-- ========================= JS here ========================= -->
    <script src="~/Template/js/bootstrap.min.js"></script>
    <script src="~/Template/js/wow.min.js"></script>
    <script src="~/Template/js/tiny-slider.js"></script>
    <script src="~/Template/js/glightbox.min.js"></script>
    <script src="~/Template/js/count-up.min.js"></script>
    <script src="~/Template/js/imagesloaded.min.js"></script>
    <script src="~/Template/js/isotope.min.js"></script>
    <script src="~/Template/js/main.js"></script>

    <script type="text/javascript">
        //======== Hero Slider
        if (document.querySelector('.hero-slider')) {
            var slider = new tns({
                container: '.hero-slider',
                slideBy: 'page',
                autoplay: true,
                autoplayButtonOutput: false,
                mouseDrag: true,
                gutter: 0,
                items: 1,
                nav: false,
                controls: true,
                controlsText: [
                    '<i class="lni lni-chevron-left"></i>',
                    '<i class="lni lni-chevron-right"></i>'
                ],
                responsive: {
                    1200: { items: 1 },
                    992: { items: 1 },
                    0: { items: 1 }
                }
            });
        }

        //========= testimonial
        if (document.querySelector('.testimonial-slider')) {
            tns({
                container: '.testimonial-slider',
                items: 3,
                slideBy: 'page',
                autoplay: false,
                mouseDrag: true,
                gutter: 0,
                nav: true,
                controls: false,
                controlsText: ['<i class="lni lni-arrow-left"></i>', '<i class="lni lni-arrow-right"></i>'],
                responsive: {
                    0: { items: 1 },
                    540: { items: 1 },
                    768: { items: 2 },
                    992: { items: 2 },
                    1170: { items: 3 }
                }
            });
        }

        var cu = new counterUp({
            start: 0,
            duration: 2000,
            intvalues: true,
            interval: 100,
            append: " ",
        });
        cu.start();

        // Initialize GLightbox only if there are elements to work with
        if (document.querySelector('[data-glightbox]') || document.querySelector('.glightbox')) {
            GLightbox({
                'type': 'video',
                'source': 'youtube',
                'width': 900,
                'autoplayVideos': true,
            });
        }

        if (document.querySelector('#container')) {
            imagesLoaded('#container', function () {
                var elem = document.querySelector('.grid');
                if (elem) {
                    var iso = new Isotope(elem, {
                        itemSelector: '.grid-item',
                        masonry: { columnWidth: '.grid-item' }
                    });

                    let filterButtons = document.querySelectorAll('.portfolio-btn-wrapper button');
                    filterButtons.forEach(e =>
                        e.addEventListener('click', () => {
                            let filterValue = event.target.getAttribute('data-filter');
                            iso.arrange({ filter: filterValue });
                        })
                    );
                }
            });
        }
    </script>
</body>
</html>


